.List {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 280px;
}

.ListItem {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #521751;
    background-color: white;
    text-align: center;
    cursor: pointer;
}

.ListItem:hover,
.ListItem:active {
    background-color: #ccc;
}

.Add {
    animation: adding 0.3s ease forwards;
}
.Remove {
    animation: removeing 0.3s ease forwards;
}


@keyframes adding {

    0% {
        opacity: 0;
        transform: translateX(20%);
    }
    50% {
        opacity: 0.8;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }


    
}
@keyframes removeing {

    0% {
        opacity: 1;
        transform: translateX(100%);
    }
    50% {
        opacity: 0.8;
        transform: translateX(20%);
    }
    100% {
        opacity: 1;
        transform: translateX(-100%);
    }


    
}